/***** Body *****/

body{

}
.container-fluid{
  padding: 0;
}

/***** Header *****/

.header{
  background-image: url(../img/pattern1.png);
  min-height: 250px;
  padding-top: 1.5%;
  text-align: center;
}
.background-header-opacity{
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  background-color: #FFFFFF;
  opacity: 0.4;
}
.text-top-header{
  font-size: 5.2em;
  font-weight: bold;
  border-top: 7px solid #CF3A15;
}
.text-bottom-header{
  font-size: 3em;
  font-weight: bold;
  border-bottom: 7px solid #CF3A15;
}

/****** Nav ******/

.navbar-collapse{
  padding-left: 0;
}
.navbar-default{
  background-color: #010017;
  border-color: none;
}
.navbar{
  border-radius: 0;
}
.navbar-default .navbar-nav > .active > a{
  color: #CF3A15;
  background-color: #FFFFFF;
  font-weight: bold;
}
.navbar-default .navbar-nav>.active>a:hover{
  color: #CF3A15;
  background-color: #FFFFFF;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover{
  color: #CF3A15;
  background-color: #FFFFFF;
  font-weight: bold;
}

/****** Main ******/

main{
  min-height: 600px;
}
.row{
  margin: 0;
}
.center-button{
  padding-left: 15%;
}
.div-button{
  display: inline-block;
  margin-top: 60px;
  margin-right: 10px;
  padding-top: 10px;
  min-height: 80px;
  text-align: center;
  color: #CF3A15;
  background-color: #010017;
  border: 1px solid transparent;
  border-radius: 5px;
}
.div-button:hover{
  color: #CF3A15;
  background-color: #FFFFFF;
  border: 1px solid #CF3A15;
  border-radius: 5px;
  text-decoration: none;
}
.div-button i{
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
.div-button p {
  font-size: 1.15em;
  text-align: center;
}
.arrow-left, .arrow-right{
  position: absolute;
  top: 600px;
  cursor: pointer;
}
.arrow-left:hover, .arrow-right:hover{
  cursor: pointer;
}
.arrow-right{
  float: right;
  right: 0;
  animation: arrowRight 1s infinite;
}
.arrow-left{
  animation: arrowLeft 1s infinite;
}

@keyframes arrowLeft {
  0% {left: 0px;}
  50% {left: 10px;}
  100% {left: 0px;}
}
@keyframes arrowRight {
  0% {right: 0px;}
  50% {right: 10px;}
  100% {right: 0px;}
}

/***** Slides *****/

#home, #experiences, #competences, #creation, #contact {
    position: relative;
    float: left;
    overflow: hidden;
}

div.move {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

/***** Footer *****/

footer{
  width: 100%;
  min-height: 110px;
  background-color: #CF3A15;
}
.col-md-offset-5{
  margin-left: 43%;
}
.text-footer{
  text-align: center;
}
.socials{
  margin-bottom: 10px;
}
.social{
  width: 42px;
  height: 42px;
  margin-left: 1%;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.facebook{
  background-image: url(../img/sprite.png);
}
.facebook:hover{
  background-image: url(../img/sprite.png);
  background-position: 0px 42px;
}
.twitter{
  background-image: url(../img/sprite.png);
  background-position: 126px 126px;
}
.twitter:hover{
  background-image: url(../img/sprite.png);
  background-position: 126px 42px;
}
.linkedin{
  background-image: url(../img/sprite.png);
  background-position: 294px 126px;
}
.linkedin:hover{
  background-image: url(../img/sprite.png);
  background-position: 294px 42px;
}
.git{
  background-image: url(../img/sprite.png);
  background-position: 210px 126px;
}
.git:hover{
  background-image: url(../img/sprite.png);
  background-position: 210px 42px;
}
.google{
  background-image: url(../img/sprite.png);
  background-position: 336px 126px;
}
.google:hover{
  background-image: url(../img/sprite.png);
  background-position: 336px 42px;
}

/***** Experiences *****/

.title-experiences{
  color: #CF3A15;
  font-weight: bold;
}

/***** Compétences *****/
